body {
     height: 100%;
     width: 100%;
     background: black;
     color: white;
     -webkit-user-select: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
}

div#wrapper{
     background: black;
     margin: 0;
     padding: 0;
}

div.viewer {
     position: absolute;
     height: 100%;
     width: 100%;
/*     top: 0px;
     left: 0px;  
     background-color: rgba(255, 0, 0, 0.5); */
     -webkit-perspective: 4000;
/*     -webkit-transform-origin: 50% 50% 0; */
     -webkit-transform-style: preserve-3d;
}

div.planet{
     position: absolute;
     width: 100%;
     height: 100%;
/*     top: 0px;
     left: 0px;
     -webkit-transform-origin: 50% 50% 0; */
     -webkit-transform-style: preserve-3d;
/*     -webkit-animation: sphereRotate 40s linear infinite; */
}

div#planet{
     -webkit-animation: sphereRotate 86400s linear infinite;
}

.viewer .planet canvas, .viewer .planet-shadow div {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 0px;
     height: 0px;
     font-size: 6pt;
     border: white solid 1pt;
}

.viewer .planet canvas {
/*     border: white 1px solid;*/
/*     background-color: rgba(0, 100, 10, 0.5);*/
/*     background-image: url('images/NASA_longitude_latitude_world_map.jpg');*/
/*     background-size:942px 471px; */
}

.viewer .planet-shadow {
/*    -webkit-animation: sphereRotate 20s linear infinite; */
}


.interface {
     -webkit-transform-style: preserve-3d;
     position: absolute;
     top: 0px;
     left: 0px;
}

.interface #satellite_tle {
     -webkit-user-select: auto;
     -webkit-transform: translateZ(100px);
}

.controller, #mylog {
     position: absolute;
     top: 20px;
     left: 0px;
     background-color: rgba(255, 255, 255, 0.5);
     border-radius: 5px;
     padding: 5px;
     -webkit-transform: translateZ(500px);
}


/**/
@-webkit-keyframes sphereRotate
{
	0%
	{
		-webkit-transform: rotateY( -0deg ) ;
	}
	
	100%
	{
		-webkit-transform: rotateY( 360deg) ;
	}
}


/**/
canvas{
     display: block;
}
